<!DOCTYPE html>
<html>
  <head>
    <title>Video stream sample</title>
  </head>
  <body>
    <h3>The slow download speed is caused by mlab sanbox account <br> <i> (mongodb database as a service provider) </i></h3>
    <audio id="videoPlayer" controls preload="auto" >
      <source src="https://stream-music-api.herokuapp.com/tracks/5bef4893a6027b0da8b672b5" type="audio/mp3">
      </audio>
    <audio id="videoPlayer" controls preload="auto" >
      <source src="https://stream-music-api.herokuapp.com/tracks/5bf3e5914814ff103c7631c8" type="audio/mp3">
      </audio>
    <!-- <button id="toggleButton">Start/Stop</button> -->
    
  </body>
</html>
