<!DOCTYPE html>
<html>
  <head>
    <title>Video stream sample</title>
  </head>
  <body>
    <video id="videoPlayer" controls preload="auto" autoplay>
      <source src="http://localhost:3000/videos/5c08d95f6ca0ed1754d87f20" type="video/mp4">
    </video>
    <!-- <button id="toggleButton">Start/Stop</button> -->
    
  </body>
</html>
